{% extends 'blog/base.html' %}
{% block content_block %}
    <div class="jumbotron">
        <h2>Please Login :</h2>
        <h3>(must be superuser please check with the site admin)</h3>
    </div>

    {% if form.errors %}
        <p>Your username and password didn't match!</p>
    {% endif %}
    <form action="{%  url 'login' %}" method="POST">
    {% csrf_token %}
    {{form.as_p }}
    <input type="submit" class="btn btn-primary" value="login">
    <input type="hidden" name="next" value="{{ next }}">

    </form>
{% endblock %}